/* link, ziyaretçi tarafından henüz açılmamış 
elementin default degeridir.
 */

a:link{
    color:#000;
    text-decoration: none;
}

/*
visited, ziyaret edildikten sonraki linkin görünüşü 
hakkında bilgi veriyor.

active, active class'i mouse ile tıklandığı an daki olaydır.
focus ile aynıdır.

hover class'ı en fazla kullanacağımız pseudo özelliği olacak.
Bir linkin üzerine geldiğin zaman ki fare olayını tetikler.
*/

a:hover{
    color:blue;

}

a:active{
    color:red;
}

a:focus{
    color:burlywood;
}

a:visited{
    color:chartreuse;
}