/* link, ziyaretçi tarafından
henüz açılmamış elementin default değeridir.
*/

a:link{
    color:#000;
    text-decoration: none;
}

/*
visited, ziyaret edildikten sonraki linkin görünüşü 
hakkında bilgi veriyor.

active, active class'i mouse ile tıklandığı an daki olaydır. 
Focus ile aynıdır.

hover class'ı en fazla kullanacağımız pseudo özelliği olacak.
Bir linkin üzerine geldiğin zamanki fare olayını tetikler.
*/

a:hover{
    color:blue;
}

a:active{
    color:red;
}

a:focus{
    color:burlywood;
}

a:visited{
    color:chartreuse;
}


button:hover + ul {
    display:none;
}

li:hover {
    color:blanchedalmond;
}

p::selection {
    color:blueviolet;
}

input[type="radio"]:checked + span {
    color:red;
}


.button::before {
    content: attr(data-hide);
}

.checkbox:checked + .button::before {
    content: attr(data-show);
}

.checkbox:checked + .button + .box {
    display: none;
}

li:empty {
    display: none;
}


