.box {

    width:300px;
    height:300px;
    background-color: blueviolet;
    transform: scaleY(0.5); /*yarısı kadar küçülttü*/
}

.box2 {

    width: 300px;
    height:300px;
    background-color: crimson;
    transform: translateX(100px);
}

.box3 {

    width: 300px;
    height: 300px;
    background-color:yellowgreen ;
    transform:rotate(120deg);
}

 /*skew : eğip, bükme*/

 .box4 {

    width: 300px;
    height: 300px;
    background-color:cadetblue;
    transform:skewX(30deg);

 }


 /* transform:matrix(scaleX, skewY, skewX, slaceY, translateX, translateY);  */

 .box5 {

    width: 100px;
    height: 100px;
    background-color: brown;
    transform: matrix(1,0,0,2,100,120);

 }