nav {
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


nav ul li {
    display:inline-block;
}


nav ul li:not(:last-child) {
    margin-right:5px;
}


nav ul li a {
    display:block;
    height: 50px;
    padding:0 20px;
    background-color:yellowgreen;
    color:#fff;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: 300ms all;
}

nav ul li a:hover {
    background-color:blueviolet;
}