p::selection {
    background-color: blue;
}

p:first-child{
    background-color:burlywood;
}

p:empty {
    background: palegreen;
    height: 20px;
}

p:not(:first-child){
    margin-bottom: 100px;
}

input:checked + span{
    background-color:crimson;
    color:#fff;
}