p > b {
    color:blue;
}

p > em {
    color:red;
}

/*
    1.Ebeveyn seçicim p'dir. 
    Çocuk seçicim ise 'b'dir.
    b etiketimin bir üst sekmesi paragraf etiketi.
    Fakat 2. bölümde 'em'nin bir üst sekmesi 'span'etiketi.
    
  */

  /*--------------------------------------------------------*/

  h3 + p {
    color:blue;
  }

  /*h3'ten hemen sonra gelen paragrafı seç.*/



  div + p span {
      color:green;
  
 }

 /*
 div'den sonra gelen p etiketi içerisindeki span'ı seç.
(BİTİŞİK KARDEŞ (A + B))
 */


 
h4 ~ p {
    color:blue;
}


/*

~(tilda),h4'ten sonra gelen tüm p etiketlerini seçer.
(GENEL KARDEŞ SEÇİCİ (A ~ B))
*/
