p::selection {
    background-color: blue;
}

p:first-child{
    background-color:burlywood;
}

p:empty {
    background: palegreen;
    height: 20px;
}

p:not(:first-child){
    margin-bottom: 100px;
}

input:invalid {
    border-color:tomato;
}

input:valid {
    border-color: green;
}
