div {
    background-color: greenyellow;
}


/*seçilen div'in sonrasına bir şey ekleyeceğim.*/
div::after {
    content : " After write";
    color : red;
}


/*boş bile olsa bir content BELİRTMEMİZ GEREKİYOR.*/

/*attr() = attribute(nitelik)*/
div::before {
    content : attr(data-name);
    color : palevioletred;
}

a[target="_blank"]::after {
    content: '(' attr(href) ')';
}

p::first-letter {
    color: red;
    font-size: 30px;
}

p::first-line {
    background: yellowgreen;
    font-size:40px;
}


/*tamamına etki edecektir.*/
::selection {
    background: plum;
}

input::placeholder {
    color:plum;
}